body {
    color: rgb(252, 247, 247);
    background: rgb(2, 253, 215);
    margin: 0px;
    font-family: "Chakra Petch", sans-serif;
    margin-bottom: 100px;
}

header {
    border-bottom: solid 2px rgb(228, 197, 42);
    padding: 20px;
    font-size: 32px;
    color: rgb(42, 122, 228);
}

.chamada {
    background: rgb(249, 204, 4);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}

h1 {
    font-size: 40px;
}

p {
    font-size: 20px;
}

.playlist1 {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.Guias {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}

.Guias img {
    opacity: 0.5;
    height: 200px;
}

.Guias img:hover {
    opacity: 1.0;
    border: 3px solid green;
}

.Guias h2 {
    color: rgb(42, 122, 228);
}
.playlist2 {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.Trailer {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}

.Trailer img {
    opacity: 0.5;
    height: 200px;
}

.Trailer img:hover {
    opacity: 1.0;
    border: 3px solid green;
}

.Trailer h2 {
    color: rgb(42, 122, 228);
}

.Playlist3 {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.Recomendo {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}

.Recomendo img {
    opacity: 0.5;
    height: 200px;
}

.Recomendo img:hover {
    opacity: 1.0;
    border: 3px solid green;
}

.Recomendo h2 {
    color: rgb(42, 122, 228);
}